
  .card {
      overflow:hidden;
  }
  
 
  .card-body .rotate i {
      color: rgba(0, 20, 20, 0.15);
      position: absolute;
      left: auto;
      right: 10px;
      top: 2;
      display: block;
      
  }
  .finny{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; 
  }

  .card1{
    background-color: rgb(66, 28, 1);
  }

  .container1{
    padding:auto;
    margin:auto;
    text-align:center;
  }

  
  